<section class="edit-block">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h1>Editar Informações</h1></mat-card-title>
    </mat-card-header>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-card-content>
          <div class="field">
              <input formControlName="id" type="hidden" autocomplete="off">
          </div>
        <div class="field">
            <mat-form-field>
                <input matInput formControlName="name" [placeholder]="labelName" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field>
                <input matInput formControlName="lastName" [placeholder]="labelLastname" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field>
                <input matInput formControlName="email" placeholder="* E-mail" autocomplete="off">
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field>
                <input matInput formControlName="cpfCnpj" [placeholder]="labelCpf" autocomplete="off" type="tel">
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field>
              <mat-select placeholder="* Estado" formControlName="state">
                <mat-option *ngFor="let state of statesObject?.states" [value]="state.uf">
                  {{state.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field>
              <input matInput formControlName="city" placeholder="* Cidade" autocomplete="off">
              <mat-error *ngIf="!editForm.get('city').valid && editForm.get('city').dirty">Cidade é obrigatório</mat-error>
            </mat-form-field>
        </div>
        <div class="field">
            <mat-form-field>
              <input matInput formControlName="phone" placeholder="* Celular" autocomplete="off" maxlength="11">
              <mat-error *ngIf="!editForm.get('phone').valid && editForm.get('phone').dirty">Celular é obrigatório</mat-error>
              <mat-hint align="end">{{editForm.get('phone').value.length}} / 11</mat-hint>
            </mat-form-field>
        </div>
        <div class="field" *ngIf="editForm.get('bloodType').value">
            <mat-form-field>
              <mat-select placeholder="* Tipo Sanguíneo" formControlName="bloodType">
                <mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType.code">
                  {{bloodType.description}}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="field">
          <mat-form-field>
            <textarea matInput placeholder="* Descrição" formControlName="description" maxlength="1000"></textarea>
            <mat-hint align="end">{{editForm.get('description').value.length}} / 1000</mat-hint>
          </mat-form-field>
        </div>
      </mat-card-content>
    </form>
    <mat-card-actions class="register-actions">
      <button class="button" mat-button (click)="back()"><< Voltar</button>
      <button role="button" color="warn" (click)="onSubmit()" mat-flat-button class="button">Salvar</button>
    </mat-card-actions>
  </mat-card>
</section>