<mat-form-field appearance="outline" class="inputSearch">
  <mat-label>Pesquisar em:</mat-label>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Todas as colunas">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<table mat-table [dataSource]="solicitationsTable" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="institution.city">
    <th mat-header-cell *matHeaderCellDef> Cidade </th>
    <td mat-cell *matCellDef="let element"> {{element.institution.city}} </td>
  </ng-container>

  <ng-container matColumnDef="institution.state">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.institution.state}} </td>
  </ng-container>

  <ng-container matColumnDef="bloodType">
    <th mat-header-cell *matHeaderCellDef> Necessita </th>
    <td mat-cell *matCellDef="let element"> {{element.bloodType}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> Quantidade (Ml) </th>
    <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <a mat-raised-button class="doeButton" color="warn" (click)="deleteSolicitation(element.id)">Excluir</a>
      <a mat-raised-button class="doeButton" color="warn" (click)="openDialog(element)">Dar Baixa</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
