.outerContainer {
    width: 90%;
    margin: 30px auto 0;
  }
  
  .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .leftDiv {
    padding-top: 15px;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .iconDescription {
    display: flex;
  }
  
  .iconImg {
    max-width: 300px;
  }
  
  .institutionTitle {
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
  }
  
  .institutionSubTitle {
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
  }