<mat-card class="notfound-card">
  <mat-card-header>
    <mat-card-title><h1>Nos Desculpe, esta página não foi encontrada</h1></mat-card-title>
  </mat-card-header>
  <p>A página solicitada não foi encontrada, ou está em manutenção.</p>
  <p>Nos desculpe pelo transtorno. Clique em voltar para retomar sua navegação.</p>
  <mat-card-actions class="notfound-actions">
      <button class="button" mat-button (click)="back()"><mat-icon>arrow_back_ios</mat-icon> Voltar</button>
    </mat-card-actions>
</mat-card>