<header role="banner">
  <mat-toolbar color="warn">
    <mat-toolbar-row>
      <div *ngIf="isLoggedIn" fxShow="true" fxHide.gt-sm="true">
        <button mat-flat-button color="warn" role="button" class="btn btn-menu" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="logo-container">
        <a [routerLink]="['/']" role="logo">{{title}}</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<main id="main-content" class="main-content" role="main">
  <mat-sidenav-container fxFlexFill class="sidenav-container">
    <mat-sidenav #sidenav fxLayout="column" class="sidenav-content">
        <app-menu></app-menu>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
