@import "~@angular/material/prebuilt-themes/indigo-pink.css";

main {
  height: 92.5%;
}
.btn-menu {
  min-width: 60px;
  padding: 0;
}
.mat-toolbar-row {
  display: block;
  position: relative;
  padding: 0;
}
.sidenav-container {
  height: 100%;
}
.sidenav-container .sidenav-content {
  width: 20%;
}
.menu-class {
  float: left;
  margin-top: 10px;
  margin-right: 5px;
}
.logo-container {
  position: absolute;
  left: 50%;
  top: 25%;
  text-align: center;
}
.user-options {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}
.logo-container a {
  position: relative;
  left:-50%;
  color: #fff;
  text-decoration: none;
}
.logo-container a:hover,
.logo-container a:active,
.logo-container a:focus {
  text-decoration: none;
}
.user-container {
  width: 10%;
}
@media only screen and (max-width: 440px) {
  .sidenav-container .sidenav-content {
    width: 30%;
  }
}
