<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-mini-fab color="primary" class="btn-btn-menu" (click)="sidenav.toggle()">☰</button>
      </div>
      <a [routerLink]="['/']">Doar vidas</a>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<main id="main-content" class="main-content">
  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <a [routerLink]="['/']" mat-button>Teste </a> 
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
