.outerContainer {
    width: 95%;
    height: 90%;
    margin: auto;
}

.upperDiv {
    height: 50%;
    width: 100%;
    float: left;
}

.leftDiv {
    height: 50%;
    width: 50%;
    float: left;
    padding-top: 15px;
}

.rightDiv {
    height: 50%;
    width: 50%;
    float: right;
    padding-top: 15px;
}

.iconDescription {
    display: flex;
}

.iconImg {
    height: 100%;
    max-width: 300px;
}

.institutionTitle {
    margin-left: 15px;
}