.outerContainer {
    width: 90%;
    margin: 30px auto 0;
  }
  
  .row {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .leftDiv {
    width: 50%;
    padding-top: 15px;
    text-align: justify;
  }
  
  .rightDiv {
    width: 50%;
    padding-top: 15px;
  }
  
  .iconDescription {
    display: flex;
  }
  
  .iconImg {
    max-width: 300px;
  }
  
  .institutionTitle {
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
  }
  
  .institutionSubTitle {
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
  }
  
  .datePicker {
    width: 250px;
  }
  
  .actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  